details > summary {
  list-style: none; /* Hides default marker in Firefox */
  cursor: pointer;
  border-bottom: 2px solid;
  padding-bottom: var(--spacing-2);
}

details > .details-content {
    padding: var(--spacing-2);
    background: #eee;
}

/* Hides default marker in Safari */
details > summary::-webkit-details-marker {
  display: none;
}

/* Hides default marker in Edge, Chrome */
details > summary::marker {
  content: "";
}
